<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css" type="text/css">

</head>
<body>
    <div class="main-content">
{{>header}}
<p>This is about page created by {{name}}</p>
</div>
{{>footer}}

</body>


</html>